<template>
  <el-row style="margin: 55px">
    <el-col :span="5"></el-col>
    <el-col :span="14">
      <el-alert
        title="欢迎来到 AIGame PlatForm!你会一步步见证它的成长"
        type="success"
        center
        shadow="always"
      />
      <el-card
        class="box-card"
        style="margin: 5px; padding: 20px 20px; border-radius: 5%"
      >
        <div style="text-align: center; font-weight: 700">
          AIGame-PlatForm是个什么东东？
        </div>
        <div style="margin: 20px">
          AIGame-PlayForm是一个实时在线对战平台，玩家可以根据需要编写Bot代码出战也可亲自上场<br />
          目前所持游戏为贪吃蛇，后续会开发出五子棋等相关益智竞技游戏
        </div>
        <div style="text-align: center; font-weight: 700">
          我是新手，这玩意怎么上手？
        </div>
        <div style="margin: 20px">
          注册成为尊贵的用户<br />
          点击
          <el-link type="primary">游戏规则</el-link>
          查看相关游戏规则,按照游戏说明写自己的 AI 程序<br />
          点击右上角账户名，进入我的 Bot 页面，创建 Bot 并上传程序<br />
          回到对战页面，点击开始匹配，与他人或其他 Bot 开始对战<br />
        </div>
        <div style="text-align: center; font-weight: 700">
          我觉得这个有Bug啊，怎么联系秃头程序员？
        </div>
        <div style="margin: 20px">
          <span>邮箱：3207181640@qq.com </span>
          <br />
          <span>qq：3207181640</span>
        </div>
      </el-card>
    </el-col>
    <el-col :span="5">
      <el-timeline >
        <el-timeline-item timestamp="2022/11/23" placement="top" color="#00E7CF">
          <el-card>
            <h4>实现前端大致骨架</h4>
            <p>DongShan committed 2022/11/23 23:28</p>
          </el-card>
        </el-timeline-item>
      </el-timeline>
    </el-col>
  </el-row>
</template>

<script>
import { ElNotification } from "element-plus";

export default {
  components:{
  },
  setup(){
    const Showloginsuccess = () => {
      ElNotification({
        title: "欢迎光临",
        message: "感谢使用AI-PlatFrom平台",
        type: "success",
      });
    };
    Showloginsuccess();
    return {
      Showloginsuccess,
    }
  }
};
</script>

<style>
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  border-radius: 4px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-size: 14px;
}
</style>
