<template>
  <ContentFieldVue>
    <div style="margin: 20px" />
    <div>
      <el-avatar
        src="https://cdn.lixingyong.com/2022/07/11/479.th.jpg"
        :size="80"
        style="margin-bottom: 20px"
      />
    </div>
    <el-form
      :label-position="labelPosition"
      label-width="100px"
      :model="loginform"
      style="max-width: 460px;
        text-align: left;
        border-radius: 8px;
        margin: 0 auto;
        width: 50%;
      "
    >
      <el-form-item label="用户名">
        <el-input v-model="loginform.username" />
      </el-form-item>
      <el-form-item label="密码">
        <el-input v-model="loginform.password" type="password" show-password />
      </el-form-item>
      <div style="text-align: center; margin-top: 20px">
        <el-button type="primary" style="width: 100%" plain @click="login"
          >登录</el-button
        >
      </div>
    </el-form>
  </ContentFieldVue>
</template>

<script>
import ContentFieldVue from "@/components/ContentField.vue";
import { reactive, ref } from "vue";
import { ElMessage } from "element-plus";
import { useStore } from "vuex";
import {useRouter} from 'vue-router'

export default {
  components: {
    ContentFieldVue,
  },
  setup() {
    const labelPosition = ref("top");

    const loginform = reactive({
      username: "",
      password: "",
    });
    const store = useStore();
    const router=useRouter()
    const ShowLoginMessage = () => {
      ElMessage({
        message: "用户名或者密码错误!",
        type: "error",
      });
    };
    const login = () => {
      //调用action里面的函数使用dispatch；
      store.dispatch("login", {
        username: loginform.username,
        password: loginform.password,
        success() {
           store.dispatch("getinfo",{
            success(){
              router.push("/");
              // console.log(store.state);
              console.log(store.state.user);
            },
            error(resp){
              console.log(resp);
            }
           })
        },
        error() {
          ShowLoginMessage();
        },
      });
    };
    return {
      labelPosition,
      loginform,
      ShowLoginMessage,
      login,
    };
  },
};
</script>

<style scoped></style>
