<template>
  <ContentFieldVue>
    <div style="margin: 20px" />
    <div>
      <el-avatar
        src="https://cdn.lixingyong.com/2022/07/11/479.th.jpg"
        :size="80"
        style="margin-bottom: 20px"
      />
    </div>
    <el-form
      :label-position="labelPosition"
      label-width="100px"
      :model="loginform"
      style="
        max-width: 460px;
        text-align: left;
        border-radius: 8px;
        margin: 0 auto;
        width: 50%;
      "
    >
      <el-form-item label="用户名">
        <el-input v-model="loginform.username" />
      </el-form-item>
      <el-form-item label="密码">
        <el-input v-model="loginform.password" type="password" />
      </el-form-item>
      <el-form-item label="确认密码">
        <el-input v-model="loginform.confirmedPassword" type="password" />
      </el-form-item>
      <div style="text-align: center">
        <el-button type="primary" style="width: 100%" plain @click="register"
          >确认注册</el-button
        >
      </div>
    </el-form>
  </ContentFieldVue>
</template>

<script>
import ContentFieldVue from "@/components/ContentField.vue";
import { ElMessage } from "element-plus";
import { reactive, ref } from "vue";
import { useStore } from "vuex";
import $ from "jquery";
import router from "../../../router/index";

export default {
  components: {
    ContentFieldVue,
  },
  setup() {
    const store = useStore();
    const labelPosition = ref("top");
    const loginform = reactive({
      username: "",
      password: "",
      confirmedPassword: "",
      error_message: "",
    });

    const ShowRegisterMessage = () => {
      ElMessage({
        message: loginform.error_message,
        type: "error",
      });
    };
    const register = () => {
      $.ajax({
        url: "http://localhost:3000/user/account/register/",
        type: "POST",
        data: {
          username: loginform.username,
          password: loginform.password,
          confirmedPassword: loginform.confirmedPassword,
        },
        success(resp) {
          if (resp.error_message === "success") {
            store.dispatch("login", {
              username: loginform.username,
              password: loginform.password,
              success() {
                store.dispatch("getinfo", {
                  success() {
                    router.push({ name: "home" });
                    console.log(store.state.user);
                  },
                });
              },
              error(resp) {
                loginform.error_message = resp.error_message;
                ShowRegisterMessage();
              },
            });
          } else {
            loginform.error_message = resp.error_message;
            ShowRegisterMessage();
          }
        },
        error(resp) {
          loginform.error_message = resp.error_message;
          ShowRegisterMessage();
        },
      });
    };
    return {
      labelPosition,
      loginform,
      register,
      ShowRegisterMessage,
    };
  },
};
</script>

<style scoped></style>
