<template>
  <el-row>
    <el-col :span="1"></el-col>
    <el-col :span="22">
      <el-card class="box-card" style="margin: 25px; border-radius: 3%">
        <el-card class="box-card" style="width: 350px">
          <el-image
            style="width: 300px; height: 300px"
            :src="src.url"
            fit="fill"
          />
          <div style="text-align: center; margin-top: 2px">AI贪吃蛇</div>
          <div style="margin-top: 5px; text-align: center">
            <el-button type="success" @click="ToSankePK">开始游戏</el-button>
          </div>
        </el-card>
      </el-card>
    </el-col>
    <el-col :span="1"></el-col>
  </el-row>
</template>

<script>
import { useRouter } from "vue-router";

export default {
  setup() {
    const router = useRouter();
    const src = {
      //Snake图片;
      url: require("@/assets/snake.png"),
    };
    const ToSankePK = () => {
      router.push("/pk/snake/");
    };
    return {
      src,
      ToSankePK,
    };
  },
};
</script>

<style scoped>

</style>
