<template>
  <NavBar></NavBar>
  <router-view />
</template>

<script>
import NavBar from "./components/NavBar.vue";
// import $ from "jquery";
export default {
  components: {
    NavBar,
  },
  setup() {
    

  },
};
</script>

<style>
body {
  background-image: url("@/assets/background.jpg");
  background-size: cover;
}
</style>
