<template>
    <el-row style="text-align: center">
      <el-col :span="5"></el-col>
      <el-col :span="14">
        <el-card style="margin:40px">
            <slot></slot>
        </el-card>
      </el-col>
      <el-col :span="5"></el-col>
    </el-row>
  </template>
  
  <script>
  export default {};
  </script>
  
  <style></style>
  