<template>
    <div class="matchground">
        <el-row>
            <el-col :span="1"></el-col>
            <el-col :span="5">
                <div class="user-photo">
                    <img :src="$store.state.user.photo" alt="">
                </div>
                <div class="user-username">
                    {{$store.state.user.username}}
                </div>
            </el-col>
            <el-col :span="12"></el-col>
            <el-col :span="5">
                <div class="user-photo">
                    <img :src="$store.state.pk.opponent_photo" alt="">
                </div>
                <div class="user-username">
                    {{$store.state.user.opponent_username}}
                </div>
            </el-col>
            <el-col :span="1"></el-col>
        </el-row>
        <el-col :span="24"  style="padding-top: 10vh;">
            <div style="text-align:center">
                <el-button type="warning" size="large" round @click="click_match_btn">{{match_btn_info}}</el-button>
            </div>
        </el-col>
    </div>
  </template>
  
  <script>
import { ref } from 'vue';
import { useStore } from 'vuex';


  export default {
      components:{
        //   GameMap,
      },
      setup(){
        let match_btn_info = ref("开始匹配");
        const store = useStore();

        const click_match_btn = () =>{
            if (match_btn_info.value === "开始匹配") {
                // console.log(select_bot.value);
                match_btn_info.value = "取消";
                store.state.pk.socket.send(JSON.stringify({
                    event: "start-matching",
                    // bot_id: select_bot.value,
                }));
            } else {
                match_btn_info.value = "开始匹配";
                store.state.pk.socket.send(JSON.stringify({
                    event: "stop-matching",
                }));
            }
        }

        return {
            match_btn_info,
            click_match_btn,
        }
      }
  }
  </script>
  
  <style scoped>
  .matchground{
      width: 60vw;
      height: 70vh;
      margin: 40px auto;
      background-color: rgb(226, 239, 229,0.5);
  }
  div.user-photo{
    text-align: center;
    padding-top: 10vh;
}
div.user-photo > img{
    border-radius: 50%;
    width: 20vh;

}
div.user-username{
    margin-top: 2vh;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: rgb(187, 174, 174);
}

div.user-select-bot {
    padding-top: 20vh;
}
div.user-select-bot > select {
    width: 60%;
    margin: 0 auto;
}
  </style>