<template>
  <el-menu
    :default-active="this.$route.path"
    class="el-menu-demo"
    mode="horizontal"
    :ellipsis="false"
    router
    background-color="#F7FAFD"
    text-color="#101E0E"
    active-text-color="#73C6B7"
  >
    <el-menu-item index="" style="padding: 0 0 0 0">
      <el-image :src="src.url" class="LogoLayout" />
    </el-menu-item>
    <div class="flex-grow" />
    <el-menu-item index="/" style="margin: 0 20px">网站介绍</el-menu-item>
    <el-menu-item index="/pk/" style="margin: 0 20px">对战</el-menu-item>
    <el-menu-item index="/ranklist/" style="margin: 0 20px"
      >排行榜</el-menu-item
    >
    
    <el-sub-menu index="4" v-if="$store.state.user.is_login">
      <template #title>
        <div style="margin-right:10px;">
          <el-image style="width: 68px; height: 58px;border-radius: 50%;" :src="$store.state.user.photo" fit="fit" />
        </div>
          {{$store.state.user.username}} 
      </template>
      <el-menu-item index="/user/index/">个人信息</el-menu-item>
      <el-menu-item index="/user/bot/">我的空间</el-menu-item>
      <hr />
      <el-menu-item index="/pk/snake/" @click="logout">退出</el-menu-item>
    </el-sub-menu>
    <el-menu-item
      v-if="!$store.state.user.is_login2"
      index="/user/account/login/"
      >登录</el-menu-item
    >
    <el-menu-item
      v-if="!$store.state.user.is_login3"
      index="/user/account/register/"
      >注册</el-menu-item
    >
  </el-menu>
</template>

<script>
import { useStore } from 'vuex';
export default {
  setup() {
    const store = useStore();

    const src = {
      //LoGO图片;
      url: require("@/assets/LOGO.gif"),
    };

    const logout = () => {
      console.log("点击了logoout!");
      store.dispatch("logout");
    }
    return {
      src,
      logout,
    };
  },
};
</script>

<style>
.flex-grow {
  flex-grow: 1;
}
body {
  margin: 0;
  user-select: none;
}
.LogoLayout {
  width: 196.55px;
  height: 58px;
}
</style>
