<template>
  <el-row style="margin: 40px">
    <el-col :span="1"></el-col>
    <el-col :span="5">
      <el-card class="box-card" :body-style="{ padding: '0px' }">
        <div style="height: 60px">
          <img
            src="https://wrihope.top/upload/2022/11/wallhaven-e7jj6r.jpg"
            alt=""
            style="background-size: cover; width: 100%; height: 100%"
          />
        </div>
        <el-col :span="6" :offset="10">
          <div>
            <el-avatar
              shape="square"
              :size="50"
              :fit="cover"
              :src="$store.state.user.photo"
            />
          </div>
        </el-col>
        <div
          style="
        margin-top: 2px;
            text-align: center;
            font-weight: bolder;
            font-size: 25px;
            font-style: italic;
          "
        >
          {{ $store.state.user.username }}
          <el-tag>Student</el-tag>
        </div>
        <div
          style="
            margin-top: 4px;
            margin-bottom: 10px;
            font-size: 2px;
            padding: 4px;
          "
        >
          个性签名:
        </div>
        <el-divider>
          <el-icon></el-icon>
        </el-divider>
        <el-descriptions
          title=""
          direction="vertical"
          :column="4"
          :size="size"
          border
        >
          <el-descriptions-item label="Bot数量">**</el-descriptions-item>
          <el-descriptions-item label="对局数">****</el-descriptions-item>
          <el-descriptions-item label="帖子数量" :span="2"
            >xxx</el-descriptions-item
          >
        </el-descriptions>
      </el-card>
    </el-col>
    <el-col :span="1"></el-col>
    <el-col :span="16" >
      <el-card class="box-card" :body-style="{ padding: '10px' }">
        <el-tabs
          v-model="activeName"
          type="card"
          class="demo-tabs"
        >
          <el-tab-pane label="我的Bot" name="first">
            <el-card shadow="always">
              <template #header>
                <div class="card-header">
                  <span>我的Bot</span>
                  <el-button type="primary" @click="dialogVisible = true">创建Bot</el-button>
                  <el-dialog
                  v-model="dialogVisible"
                  title="创建Bot"
                  width="50%"
                >
                <el-form :model="botadd" :label-position="labelPosition">
                <el-form-item label="标题" :label-width="formLabelWidth" >
                  <el-input v-model="botadd.title" autocomplete="off"  />
                </el-form-item>
                <el-form-item label="简介" :label-width="formLabelWidth" >
                  <el-input v-model="botadd.description" autocomplete="off" type="textarea"/>
                </el-form-item>
                <el-form-item label="Bot代码" :label-width="formLabelWidth">
                  <VAceEditor
                    v-model:value="botadd.content"
                    @init="editorInit"
                    lang="c_cpp"
                    theme="monokai"
                    style="height: 400px; width: 100%; background: #000; color: #fff" />
                </el-form-item>
              </el-form>
                  <template #footer>
                    <span class="dialog-footer">
                      <el-button @click="dialogVisible = false">取消</el-button>
                      <el-button type="primary" @click="dialogVisible = false;add_bot()">
                        确认
                      </el-button>
                    </span>
                  </template>
                </el-dialog>
                </div>
              </template>
              <div style="margin:10px;">
                <el-table :data="bots" style="width: 100%">
                  <el-table-column type="index" label="Id" />
                  <el-table-column label="Name" prop="title" />
                  <el-table-column label="Date" prop="modifytime" />
                  <el-table-column align="right">
                    <template #default="scope">
                      <el-button size="small" @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                      <el-button size="small" type="danger" @click="remove_bot(scope.row);">删除</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </div>
            </el-card>
          </el-tab-pane>
          <el-tab-pane label="战绩" name="second">
          </el-tab-pane>
          <el-tab-pane label="动态" name="third">Role</el-tab-pane>
        </el-tabs>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
import $ from "jquery";
import { useStore } from "vuex";
import { ElMessage } from "element-plus";
import { reactive, ref } from "vue";
import ace from 'ace-builds';
import { VAceEditor } from 'vue3-ace-editor';


export default {
  components: {
    VAceEditor,
    },
  setup() {
    ace.config.set(
    "basePath", 
    "https://cdn.jsdelivr.net/npm/ace-builds@" + require('ace-builds').version + "/src-noconflict/");
    const store = useStore();
    const labelPosition = ref("top");
    const dialogVisible = ref(false);
    const activeName = ref("first");
    const formLabelWidth = '200px'
    let bots = ref([]);
    const botadd = reactive({
      title:"",
      description:"",
      content:"",
      error_message:"",
    })
    const ShowAddBotMessage = () => {
      ElMessage({
        message: botadd.error_message,
        type: "error",
      });
    };
    const refresh_bots = () =>{
      $.ajax({
      url: "http://127.0.0.1:3000/user/bot/getlist/",
      type: "get",
      headers: {
        Authorization: "Bearer " + store.state.user.token,
      },
      success(resp) {
        // console.log(resp);
        bots.value = resp;
      },
      error(resp) {
        console.log(resp);
      },
    });
    }
    refresh_bots();
    const add_bot  = () =>{
      $.ajax({
      url: "http://127.0.0.1:3000/user/bot/add/",
      type: "post",
      data: {
        title: botadd.title,
        description: botadd.description,
        content: botadd.content,
      },
      headers: {
        Authorization: "Bearer " + store.state.user.token,
      },
      success(resp) {
        if(resp.error_message === "success"){
        // console.log(resp);
        botadd.title="";
        botadd.content="";
        botadd.description="";
        refresh_bots();
        }else{
          botadd.error_message = resp.error_message;
          ShowAddBotMessage();
        }
      },
      //1e1d5a4e
      error(resp) {
        botadd.error_message = resp.error_message;
          ShowAddBotMessage();
      },
    });
    }
    const update_bot = (bot) => {
       $.ajax({
            url: "http://127.0.0.1:3000/user/bot/update/",
            type: "POST",
            data: {
                bot_id:bot.id,
                title: botadd.title,
                description: botadd.description,
                content: botadd.content,
            },
            headers: {
                Authorization: "Bearer " + store.state.user.token,
            },
            success(resp) {
              console.log(resp);
                refresh_bots();
            },
            error(resp) {
              botadd.error_message = resp.error_message;
              ShowAddBotMessage();
            }
        })
    }
    const remove_bot = (bot) =>{
       $.ajax({
            url: "http://127.0.0.1:3000/user/bot/remove/",
            type: "POST",
            data: {
               bot_id:bot.id,
            },
            headers: {
                Authorization: "Bearer " + store.state.user.token,
            },
            success(resp) {
                console.log(resp);
                refresh_bots();
            },
            error(resp) {
                // console.log(resp);
                botadd.error_message = resp.error_message;
                ShowAddBotMessage();
            }
        })
    }
    
   
    
    return {
      activeName,
      bots,
      refresh_bots,
      dialogVisible,
      botadd,
      formLabelWidth,
      labelPosition,
      add_bot,
      ShowAddBotMessage,
      remove_bot,
      update_bot
    };
  },
};
</script>

<style scoped>
.demo-tabs > .el-tabs__content {
  padding: 32px;
  color: #6b778c;
  font-size: 32px;
  font-weight: 600;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog-footer button:first-child {
  margin-right: 10px;
}
</style>
